<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <!-- For more information on MicrosoftGame.config elements,
       please refer to online GDK documentation found at https://aka.ms/GDK_MSGC
       or the MicrosoftGame.config topic in the System section of the offline GDK documentation. -->
  <Identity Name="AfilGames.DisAssembleWindows" Publisher="CN=44B2AC89-AD9A-462E-BA8F-CD247DAB6981" Version="1.0.1.0" />
  <ShellVisuals DefaultDisplayName="(Dis)Assemble (Windows)" PublisherDisplayName="Afil Games" StoreLogo="StoreLogo.png" Square150x150Logo="medium_logo.png" Square44x44Logo="small_logo.png" Square480x480Logo="large_logo.png" Description="(Dis)Assemble (Windows)" ForegroundText="light" BackgroundColor="#000040" SplashScreenImage="SplashScreenImage.png" />
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <ExecutableList>
    <Executable Name="DISassemble.exe" Id="Game" />
    <!--    TargetDeviceFamily="PC"
            IsDevOnly="false" | IsDevOnly specifies if is a Development only executable.
            OverrideDisplayName="Xbox Game Override"
            OverrideLogo="GraphicsLogoOverride.png"
            OverrideSquare44x44Logo="SmallLogoOverride.png"
            OverrideSplashScreenImage="SplashScreenOverride.png" -->
  </ExecutableList>
  <!-- <StoreId>000000000000</StoreId> | StoreID specifies the store identity of this title. -->
  <StoreId>9PFJZBFJ5SF0</StoreId>
  <MSAAppId>00000000415F8026</MSAAppId>
  <TitleId>79962b79</TitleId>
  <!-- <DesktopRegistration>
      <CustomInstallActions> | CustomInstallActions specifies a custom installer action with Administrator privileges the first time your game runs.
        <Folder>Installers</Folder>
        <InstallActionList>
          <InstallAction File="CustomInstaller.exe" Name="UniqueInstallTaskName" Arguments="/silent /example" />
        </InstallActionList>
      </CustomInstallActions>
      <DependencyList> | DependencyList determines which framework packages need to be installed before installing the title package.
        <Dependency Name="Microsoft.DirectXRuntime" MinVersion="9.29.952.0"/>
      </DependencyList>
      <ProcessorArchitecture>x64</ProcessorArchitecture> | ProcessorArchitecture specifies the processor architecture that matches your game executables.
      <ModFolder Name="Xbox Game"/> | ModFolder defines the location of end-user mods for your game files.
  </DesktopRegistration> -->
  <ExtendedAttributeList>
    <ExtendedAttribute Name="SandboxIds" Value="JFSTHW.0" />
    <ExtendedAttribute Name="Scid" Value="00000000-0000-0000-0000-000079962b79" />
  </ExtendedAttributeList>
  <DesktopRegistration>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
    <DependencyList>
      <KnownDependency Name="VC14" />
    </DependencyList>
    <MultiplayerProtocol>false</MultiplayerProtocol>
  </DesktopRegistration>
  <DevelopmentOnly>
    <ContentIdOverride>4a465039-425a-3046-c04a-355346304300</ContentIdOverride>
  </DevelopmentOnly>
  <AdvancedUserModel>false</AdvancedUserModel>
</Game>